body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
    }

    ul{
      list-style: none;
    }
    ul li a{
      text-decoration: none;
      color: black;
    }

    .container-fluid {
      display: flex;
      justify-content: space-between;
    }

    .nav-item-custom {
      display: flex;
    }
     

    /* Navbar styles */
    .navbar {
      padding: 0.5rem 1rem;
      display: flex;
    }

    .navbar-brand img {
      max-height: 50px;
    }

    .navbar-nav {
      margin-left: auto;
      Display: Flex;
    }

    .nav-item .nav-link {
      padding: 0.5rem 1rem;
    }

    .navbar-toggler {
      border: none;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
      outline: none;
    }

    .dropdown-menu {
      padding: 0;
      position: absolute;
      background-color: white;
    }

    .dropdown-menu .dropdown-item {
      padding: 0.5rem 1rem;
    }

    .dropdown-menu .menu-items {
      display: flex;
      align-items: center;
    }

    .dropdown-menu .menu-items .item {
      margin-right: 1rem;
    }

    .userApp-items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .userAppText {
      margin-bottom: 0.5rem;
    }

    .social-icon {
      display: flex;
      justify-content: space-around;
      padding: 0.5rem 1rem;
    }

    .social-icon img {
      margin: 0 0.5rem;
    }

    .lang {
      margin-left: auto;
    }

    .dropdown-divider {
      margin: 0;
    }



    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      height: auto;
      width: 100%;
    }

    .navbar-nav {
      margin-left: 10px;
      margin-right: 0px;
      padding: 0px;
    }

    .navbar-nav li {
      margin: 0px;
      padding: 0px 5px 0px 5px;
    }

    .menu-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      width: 80%;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0px 10px 0px 10px;
    }

    .text {
      display: block;
    }

    .sub {
      display: block;
      font-size: 12px;
    }

    .userApp-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .userApp {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }

    .userAppText {
      font-size: 15px;
    }

    .userApp img {
      margin: 0%;
      padding: 0% 2% 0% 2%;
    }

    .social-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .social-icon a {
      margin: 0%;
      padding: 0% 8% 0% 8%;
    }

    .lang {
      margin-left: 220px;
    }

    /* For navbar menu hover */
    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {
      .navbar .nav-item .dropdown-menu {
        display: none;
      }

      .navbar .nav-item:hover .nav-link {
        color: black;
      }

      .navbar .nav-item:hover .dropdown-menu {
        display: block;
      }

      .navbar .nav-item .dropdown-menu {
        margin-top: 0;
      }
    }

    /* ============ desktop view .end// ============ */

    .platform {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 5% 0% 0% 0%;
      height: 100vh;
      width: 100%;
      background-image: url("https://pathao.com/wp-content/uploads/2018/12/Header-image-updated.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: "Roboto", sans-serif;
    }

    .headline {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0% 0% 0% 10%;
    }

    .headline h1 {
      font-size: 50px;
      font-family: 'Noto Sans JP', sans-serif;
    }

    .headline p {
      font-size: 20px;
      font-weight: bolder;
    }

    .earnButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 15% 0% 0% 0%;
      height: 50px;
      width: 300px;
      background-color: red;
      border-radius: 5px;
      cursor: pointer;
    }

    .earnButtonText {
      font-size: 20px;
      color: white;
      font-weight: bolder;
    }

    .downloadButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 5% 0% 0% 0%;
      height: 50px;
      width: 300px;
      background-color: white;
      border: grey solid 1px;
      border-radius: 5px;
      cursor: pointer;
    }

    .downloadButtonText {
      font-size: 20px;
      color: black;
      font-weight: bolder;
    }

    .userRating {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 150px;
      width: 800px;
      border-radius: 5px;
      position: relative;
      margin: -4% 0% 0% 0%;
      box-shadow: 2px 2px 10px 1px grey;
      background-color: white;
    }

    .userRatingBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .headlineText {
      font-size: 30px;
      font-family: 'Noto Sans JP', sans-serif;
    }

    .subHeadlineText {
      font-size: 20px;
    }

    .pathaoPlatform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10% 0% 0% 0%;
      height: auto;
      width: 100%;
    }

    .pathaoPlatform p {
      font-size: 18px;
    }

    .tablist {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 10% 0% 0% 0%;
      height: auto;
      width: 80%;
    }

    .tablist-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 55px;
      width: 150px;
      border-radius: 5px;
      box-shadow: 2px 2px 10px 1px grey;
      cursor: pointer;
    }

    .tabItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0px 10px 0px 10px;
    }

    .tabText {
      font-size: 20px;
    }

    .tabItemDescription {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 0% 0%;
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 600px;
      width: 40%;
    }

    .descriptionList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 5% 0% 0% 0%;
    }

    .learnButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 5% 0% 0% 0%;
      height: 40px;
      width: 180px;
      background-color: red;
      border-radius: 5px;
      cursor: pointer;
    }

    .learnButtonText {
      font-size: 15px;
      color: white;
      font-weight: bolder;
    }

    .descriptionLogo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("https://pathao.com/wp-content/themes/webpathao/assets/images/mobile-screen-2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 600px;
      width: 40%;
    }

    .mobileLogo {
      position: relative;
      margin-top: -5px;
      margin-left: 50px;
      height: 450px;
      width: 245px;
      border-radius: 5px;
    }

    .movingSafely {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 0% 0%;
    }

    .movingSafelyPhoto {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 5% 8% 0% 8%;
      padding: 2% 0% 2% 0%;
      border: solid limegreen 2px;
    }

    .movingSafelyPhoto img {
      margin: 2%;
    }

    .safe-insurance-image {
      position: relative;
      margin: -1.7% 0% 0% 0%;
    }

    .safe-insurance-image img {
      height: 50px;
      width: 200px;
    }

    .safe-platform {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 2% 5% 2%;
    }

    .safestPlatform {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: auto;
      width: 40%;
      margin: 3%;
    }

    .readButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 5% 0% 0% 0%;
      height: 40px;
      width: 180px;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      border: red solid 1px;
    }

    .readButtonText {
      font-size: 15px;
      color: red;
      font-weight: bolder;
    }

    .weCare {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: auto;
      width: 40%;
      margin: 3%;
    }

    .earning-platform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 5% 0%;
    }

    .earning-platform p {
      font-size: 18px;
    }

    .startEarnButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 5% 0% 0% 0%;
      height: 40px;
      width: 180px;
      background-color: red;
      border-radius: 5px;
      cursor: pointer;
    }

    .startEarnButtonText {
      font-size: 15px;
      color: white;
      font-weight: bolder;
    }

    .startEarn-background-image {
      margin: 5% 0% 5% 0%;
      height: 400px;
      width: 100vw;
      background-image: url("https://pathao.com/wp-content/uploads/2018/12/Pathao-ecosystem.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100vw 400px;
    }

    .downloadApp {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0% 0% 5% 0%;
      height: auto;
      width: 100%;
    }

    .downloadApplink {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 400px;
      width: 40%;
    }

    .downloadApplink p {
      font-size: 18px;
    }

    .pathaoUserApp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 2% 0% 2% 0%;
    }

    .pathaoUserAppImg {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1% 0% 1% 0%;
      height: auto;
      width: 600px;
    }

    .pathaoUserAppImg img {
      margin: 0% 2% 0% 0%;
    }

    .pathaoDriveApp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 2% 0% 2% 0%;
    }

    .downloadAppLogo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      width: 40%;
    }

    .makingHeadlines {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 5% 0%;
      height: auto;
      width: 100%;
    }

    .makingHeadlinesImg {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 5% 0%;
    }

    .makingHeadlinesImg img {
      margin: 0% 4% 0% 4%;
    }

    .makingHeadlinesImgText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: auto;
      width: 75%;
      border: solid lightslategrey 1px;
      border-radius: 5px;
    }

    .makingHeadlinesImgText p {
      margin: 2% 2% 1% 2%;
      font-size: 18px;
    }

    .makingHeadlinesImgText h3 {
      margin: 1% 2% 1% 2%;
    }

    .viewButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 2% 2% 2% 2%;
      height: 40px;
      width: 180px;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      border: red solid 1px;
    }

    .viewButtonText {
      font-size: 15px;
      color: red;
      font-weight: bolder;
    }

    .yourBusiness {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 5% 0%;
      height: auto;
      width: 100%;
    }

   

   

    .from-the-Blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5% 0% 5% 0%;
      height: auto;
      width: 100%;
    }

    .theBlog {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: auto;
      width: 100%;
    }

    .theBlogText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0%;
      height: auto;
      width: 37.5%;
    }

    .goToBlogButton {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      margin: 0%;
      height: auto;
      width: 37.5%;
    }

    .blogButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 40px;
      width: 200px;
      background-color: white;
      border: grey solid 1px;
      border-radius: 5px;
      cursor: pointer;
    }

    .blogButtonText {
      font-size: 20px;
      color: black;
      font-weight: bolder;
    }

    .pathao-offer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 2% 0% 2% 0%;
      height: auto;
      width: 80%;
    }

   

    .blog-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 2% 0% 2% 0%;
      height: auto;
      width: 100%;
    }

    .blog-info-text {
      margin: 2% 1% 2% 5%;
      height: auto;
      width: 40%;
      font-size: 12px;
      font-weight: bolder;
    }

    .blog-info-text:hover {
      color: red;
      cursor: pointer;
    }

    .point {
      margin: 2% 5% 2% 1%;
      height: auto;
      width: 60%;
    }

    .dated {
      margin: 2%;
      font-size: 12px;
      font-weight: bolder;
    }

    .pathao-shop h5 {
      margin: 2% 5% 2% 5%;
      cursor: pointer;
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 800px;
      width: 100%;
      background-color: black;
      color: white;
    }

    .footerPlatform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0%;
      height: 90%;
      width: 80%;
    }

    .footerContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0%;
      height: 50%;
      width: 100%;
    }

    .footerMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 100%;
      width: 20%;
    }

    .footerMenu h3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 5% 0% 5% 0%;
      height: 10%;
      width: 100%;
    }

    .footerMenuText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 5% 0% 5% 0%;
      height: 80%;
      width: 100%;
      font-weight: bolder;
      cursor: pointer;
    }

    .footerMenuText .badge {
      background-color: red;
    }

    .line {
      height: auto;
      width: 95%;
      border: solid grey 1px;
    }

    .footerBar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 15%;
      width: 95%;
    }

    .footerlogo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 20%;
    }

    .footerlogo img {
      height: 100%;
      width: 60%;
      cursor: pointer;
    }

    .footerBarMenu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      width: 80%;
    }

    .footerBarMenu p {
      margin: 0% 2% 0% 2%;
      font-weight: bold;
      cursor: pointer;
    }

    .footerDownload {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 15%;
      width: 95%;
    }

    .footerDownloadText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0% 0.5% 0% 0.5%;
      height: 50px;
      width: 120px;
    }

    .footerDownloadText p {
      margin: 0% 2% 0% 2%;
      font-size: 20px;
    }

    .footerDownloadImg {
      margin: 0% 0.5% 0% 0.5%;
      height: 50px;
      width: 120px;
      cursor: pointer;
    }

    .footerDownloadImg img {
      height: 100%;
      width: 100%;
    }

    .footer-social-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0% 0.5% 0% 0.5%;
      height: 50px;
      width: 120px;
      margin: 0% 3% 0% 3%;
    }

    .footer-social-icon .fa {
      margin: 0% 4% 0% 4%;
      cursor: pointer;
    }

    .footer-region {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0% 0.5% 0% 0.5%;
      height: 50px;
      width: 200px;
    }

    .footer-region p {
      margin: 0% 2% 0% 2%;
      font-size: 15px;
    }

    .footer-language {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0% 0.5% 0% 0.5%;
      height: 50px;
      width: 100px;
    }

    .footer-copy-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 20%;
      width: 95%;
    }

    .copy-right-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0%;
      height: 100%;
      width: 70%;
    }

    .terms-conditions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 100%;
      width: 15%;
    }

    .terms-conditions p {
      font-weight: bold;
      cursor: pointer;
    }

    .privacy-policy {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0%;
      height: 100%;
      width: 15%;
    }

    .privacy-policy p {
      font-weight: bold;
      cursor: pointer;
    }